<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <form action="">
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Nombres</label>
                <div class="col-sm-6">
                    <input type="text" name="nombres" class="form-control" [(ngModel)]="estudiante.nombres">
                </div>
            </div>
            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" name="apellido" class="form-control" [(ngModel)]="estudiante.apellido">
                </div>
            </div>
                <div class="form-group row">
                    <label for="email" class="col-form-label col-sm-2">Email</label>
                    <div class="col-sm-6">
                        <input type="text" name="email" class="form-control" [(ngModel)]="estudiante.email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nota" class="col-form-label col-sm-2">Nota</label>
                    <div class="col-sm-6">
                        <input type="text" name="nota" class="form-control" [(ngModel)]="estudiante.nota">
                    </div>
                </div>
                <button class="btn btn-success" role="button" (click)='create()' *ngIf="!estudiante.id else regis">Registrar</button>
                <ng-template #regis>
                <button class="btn btn-success" role="button" (click)='update()'>Actualizar</button>
            </ng-template>
            </form>   
    </div>
</div>
